body {
  font-family: "Roboto", "sans-serif";
  color: #757575;
}
.link {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.portfolio-button:hover {
  background-color: #2196f3;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: #212121;
}
.button {
  border: none;
  cursor: pointer;
}
/* header  */

.logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
}
.logo-blue {
  color: #2196f3;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* heroes */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
}

/* benefits */
.benefits-tittle {
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
}

/* works */
.works-title {
}

/* team */
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: #212121;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: #212121;
}
.team-text {
  line-height: 1.19;
}

/* Портфолио фильтр */

.portfolio-button {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}
.portfolio-text {
  line-height: 1.88;

  color: #757575;
}

/* footer  */
footer {
  background-color: #2f303a;

  color: white;
}
.footer .logo {
  color: #ffffff;
}

.site-nav .link:hover,
.contacts .link:hover,
.address .link:hover {
  color: #2196f3;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  font-style: normal;

  color: rgba(255, 255, 255, 0.6);
}
.address .map {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: #ffffff;
}
